<div class="bg">
<nav class="container navbar navbar-expand-lg navbar-light primary-color fixed-top">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addbook">Add Book
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">LogOut</a>
        </li>
      </ul>
</nav>
<!--Navbar end-->

<h3 class="display-2 bg-img text-white bg-overlay text-center">Books</h3>


<h6 class="display-6 bg-img bg-overlay ">Arundhati Roy</h6>

<div id="my-carousel1" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">

          <div class="col-3 text-center">
            <img src="https://images-na.ssl-images-amazon.com/images/I/31XmLbua6KL._SY291_BO1,204,203,200_QL40_ML2_.jpg" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://th.bing.com/th/id/OIP.GT2QEeR6MI397yPugN3zXgHaKl?pid=ImgDet&rs=1" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://th.bing.com/th/id/R.8e2378cbe69b34c619db1c0c708a648d?rik=RIabkoy8ahHJnA&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://th.bing.com/th/id/OIP.2XpYwElAJeit05sIBaJipQHaL2?pid=ImgDet&rs=1" class="img-thumbnail" alt="">
          </div>

        </div>
      </div>

      
                <div class="col-3 text-center">
                    <img src="images/a15.jpg" class="img-thumbnail" alt="">
                </div>

                <div class="col-3 text-center">
                      <img src="images/a16.jpg" class="img-thumbnail" alt="">
                  </div>

              </div>
    </div>
</div>



<h6 class="display-6 bg-img bg-overlay ">Dan Brown</h6>
<div id="my-carousel2" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">

          <div class="col-3 text-center">
            <img src="images/d1.jpg" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="images/d2.jpg" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="images/d3.jpg" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="images/d4.jpg" class="img-thumbnail" alt="">
          </div>

        </div>
      </div>
</div>



<h6 class="display-6 bg-img bg-overlay ">J K Rowling</h6>
<div id="my-carousel3" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">

              <div class="col-3 text-center">
                <img src="https://th.bing.com/th/id/R.f0a2784274cc03573de37b5551c38945?rik=Wk335XVJNKofUQ&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
              </div>

              <div class="col-3 text-center">
                  <img src="https://i.insider.com/579f8249dd0895f33d8b47c2?width=600&format=jpeg&auto=webp" class="img-thumbnail" alt="">
              </div>
          </div>
</div>




<h6 class="display-6 bg-img bg-overlay ">Manu S Pillai</h6>  
<div class="books">
    <div class="row">
       <div class="col-3 text-center">
            <img src="https://th.bing.com/th/id/R.a0d6c530820e7b09260a433b41dfffcc?rik=lFGMQ7MmewLmCw&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
            </div>

            <div class="col-3 text-center">
            <img src="https://th.bing.com/th/id/R.8e7d56f310e483344dc8cae402f35638?rik=OFd8mUZdrWtwzQ&riu=http%3a%2f%2fecx.images-amazon.com%2fimages%2fI%2f516ZryQCQAL.jpg&ehk=28fCgzQ4DYVZqbbKVEJjzIy2GxQhApKry5wMj0RkreU%3d&risl=&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
             </div>
    </div>

</div>


<h6 class="display-6 bg-img bg-overlay ">Paula Hawkins</h6>

<!-- paula hawkins-->   
<div class="books">
        <div class="row">
    
                <div class="col-3 text-center">
                <img src="https://th.bing.com/th/id/R.3398832efab5731a1d38a8e93496955c?rik=89SpK523Qqgywg&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780735211254_p0_v3_s1200x630.jpg&ehk=dXtEP68YedTKLz%2fEJc0mTlxHovswI3h0DzEW2f1UkxE%3d&risl=&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
                </div>

                <div class="col-3 text-center">
                <img src="https://th.bing.com/th/id/R.4271accf7fb72d7bc7530d05451c84b0?rik=hjU5lbc8AQuqtw&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
                 </div>


        </div>

</div>


<h6 class="display-6 bg-img text-white bg-overlay ">Salman Rushdie</h6>
<div id="my-carousel4" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">

          <div class="col-3 text-center">
            <img src="https://th.bing.com/th/id/OIP.AoNdhEGVYutFqrh-Yz7jogHaLQ?pid=ImgDet&rs=1" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://th.bing.com/th/id/R.89fb048d02109259bc33101801f2a6dd?rik=QL1ZTqBoSf8wCA&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://th.bing.com/th/id/R.19565d1692cc1d81bc20e7041fc7fcc9?rik=j5eXK6QZPMmjYA&pid=ImgRaw&r=0" class="img-thumbnail" alt="">
          </div>

          <div class="col-3 text-center">
              <img src="https://cdn2.penguin.com.au/covers/original/9781473584341.jpg" class="img-thumbnail" alt="">
          </div>

        </div>
      </div>
<br>
</div>
